$yellow: #f9b43b;
$flame: #e45028;
$green: #2f3234;

@import "layout/base.scss";
@import "layout/fonts.scss";
@import "layout/normalize.scss";

@import "blocks/mrburger.scss";
@import "blocks/we.scss";
@import "blocks/reviews.scss";
@import "blocks/burgers.scss";
@import "blocks/btn.scss";


