$yellow: #f9b43b;
$flame: #e45028;
$green: #2f3234;

@import "layout/base.css";
@import "layout/fonts.css";
@import "layout/normalize.css";

@import "blocks/first-screen.scss";
@import "blocks/we.css";
@import "blocks/reviews.css";
@import "blocks/burgers.css";
@import "blocks/btn.css";


