
.btn { 
 border-radius: rem(5px);
 background: $flame;
 color: #fff;
 text-transform: uppercase;
 font-size: rem(13px); 
 cursor: pointer;
 height: rem(35px);
width: rem(97px);
border: 0;
}
.btn:hover{
    background: #c1401e;
    display: inline-block;
}
.btn--reset:hover {
    background: transparent;
}