@charset "UTF-8";
.first-screen {
  position: relative;
  background: url(../../images/first-bgrd.jpg);
  background-size: cover;
  background-size: 100%;
  height: 650px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 943px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 95px; }

.header__container {
  padding-top: 12px;
  height: 69px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.first-screen__container {
  width: 943px;
  height: 424px;
  margin: 0 auto; }

.logo {
  margin-right: 75px; }

.logo__image {
  height: 69px;
  width: 92px; }

.navigation {
  margin: 0 auto;
  margin-right: 15px;
  width: 670px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  white-space: nowrap; }

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: center;
  align-self: center; }

.navigation__item::after {
  content: "•";
  color: #fff;
  margin-right: 16px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.navigation__item:last-child::after {
  display: none; }

.navigation__link {
  text-decoration: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  white-space: nowrap;
  margin-right: 16px; }

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  height: 35px;
  width: 97px;
  background-color: #e45028;
  border-radius: 5px;
  border: 0; }

.order__button:hover {
  background-color: #c1401e; }

.order__link {
  text-transform: uppercase;
  text-decoration: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500; }

.burger-image {
  width: 50%;
  position: relative;
  display: inline-block;
  margin-right: 11px; }

.burger__photo {
  display: block;
  padding-left: 44px; }

.burger-decoration {
  background: url(../../images/burger-decoration.png) no-repeat center center;
  height: 241px;
  width: 451px;
  position: absolute;
  top: 63px;
  right: 0; }

.burgers-desc {
  padding-top: 80px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1;
  font-family: 'Gagalin';
  font-size: 72px;
  text-align: left;
  text-transform: uppercase;
  line-height: 85px;
  color: #f9b43b;
  margin: 0; }

.subtitle {
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1;
  padding-top: 12px;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  letter-spacing: -0.02em;
  line-height: 60px;
  margin: 0;
  letter-spacing: -0.02em; }

.scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.dotmenu {
  top: 90px;
  right: 5px;
  position: absolute;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 181px;
  width: 16px; }

.dotmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 181px;
  width: 16px; }

.dot__item {
  height: 6px;
  width: 6px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 16px; }

.current {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 16px; }
