.menu {
    background: url(../images/menubckgrnd.png) center center / cover no-repeat;
    position: relative;
    @include tablets {
        max-width: 940px;  
    }
}
.menu p {
    color: #fff;
    padding: 62px 35px;
}
.menu__aside {
    position: absolute;
    right: 0px;
    
    height: 100%;
   
}
.menu__title {
    padding-top: 111px;
    padding-left: 94px;
    color: #fff;
    line-height: 64px;
    position: absolute;
}
.menu__name {
    font-size: 40px;
    color: #fff;
    transform: rotate(180deg);
    padding-top: 40px;    
    width: 80px;
    white-space: nowrap;
    writing-mode: vertical-lr;
    border: none;
}

.menu__item {
display: flex;

text-align: center
}
.menu__desc {
    width: 0px;
    font-family: "ubuntu-light";
    color: #fff;
    line-height: 1.6em;
    font-size: 14px;
    overflow: hidden;

}
.menu__accordeon {
    display: flex;
    height: 100%;
}

.menu__button {
    box-sizing: content-box;
    font-family: "gagalin";
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    background-position: center center;
    background-size: cover;      
    height: 100vh;
    width: 80px;
    border: none;
    align-items: center;
    &--first{
        background: url(../images/menuback1.png) no-repeat;
        background-size: cover;
    }
    &--second{
        background: url(../images/menuback2.png) no-repeat;
        background-size: cover;
    }
    &--third{
        background: url(../images/menuback3.png) no-repeat;
        background-size: cover;
    }

}
.menu__item--active .menu__button {
    color: #f9b43b;
    
}

.menu__item--active .menu__desc {
min-width: 540px;
background-color: rgba(47, 50, 52, 0.8);

height: 100%;
padding: 62px 37px 0px 33px;
}