
.menu {
width: 105px;
}
.menu__list {
margin: 0;
padding: 0;
list-style: none;
}
.menu__item {
margin-bottom: 26px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.menu__text {
font-size: 12px;
font-weight: bold;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #ec1e79;
text-decoration: none;
display: flex;
align-items: center;
}
.menu__text:before {
content: "";
display: flex;
width: 20px;
height: 18px;
background: no-repeat center center;
margin-right: 20px;
}
.menu__text--icon--triangle:before {
background-image: url(/images/main_icon_pink.png);
margin-bottom: 4px;
}
.menu__text--icon--star:before {
background-image: url(/images/feed_icon.png);
margin-bottom: 3px;
}
.menu__text--icon--purse:before {
background-image: url(/images/wallet_icon.png)
}
.menu__text:hover {
color: #000000;
}
.menu__text--icon--star:hover:before {
background-image: url(/images/feed-hover.png)
}
.menu__text--icon--purse:hover:before {
background-image: url(/images/wallet_icon-hover.png)
}
.menu__text--active{
color: #000000;
}