.we {
  background: url(/images/webckgrnd.png) no-repeat center center;
  background-size: cover;
  height: 650px; }

.we__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 943px;
  height: 100%;
  margin: 0 auto; }

.we__title {
  font-family: 'Gagalin';
  font-size: 72px;
  text-align: left;
  text-transform: uppercase;
  line-height: 64px;
  color: #2f3234;
  margin: 0;
  padding-top: 127px;
  margin-bottom: 55px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.features {
  width: 924px;
  height: 252px; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0; }

.features__list-item {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 30%;
  height: 229px; }

.feat__icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 24px; }

.feat__title {
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: 500;
  color: #2f3234;
  text-align: left;
  letter-spacing: -0.02em;
  line-height: 28px;
  margin: 0;
  text-align: center;
  margin-bottom: 25px; }

.feat__desc {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  color: #2f3234;
  text-align: center;
  line-height: 24px;
  height: 91px;
  width: 300px;
  text-align: center;
  margin: 0; }
