
.section {
height: 100vh;
min-height: rem(650px);
}
.we {
background: url(../images/webckgrnd.png) center center / cover no-repeat;
background-size: cover;
}
.we__container {
display: flex;
flex-direction: column;
width: rem(943px);
height: 100%;
margin: 0 auto;
}
.we__title {
    @include title ($green, rem(72px), rem(64px), 0);
    padding-top: rem(127px);
    margin-bottom: rem(55px);
    align-self: center;
}

.features__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    margin: 0;
    
}
.features__item {

width: 30%;

}
.feat__icon {
    align-self: center;  
    margin-bottom: rem(24px);
}
.features__list h2 {
    @include subtitle (rem(24px), 500, rem(28px), $green, 0)
     margin-bottom: rem(25px);     
    text-align: center;
    letter-spacing: -0.02em;   
}

.features__list p {
    @include text (rem(14px), 300, $green, rem(24px))
    
    text-align: center;
    margin: 0;
}
.feat__image {
    height: rem(89px);
    width: rem(97px);
}
