
.section {
height: 100vh;
min-height: 650px;
}
.we {
background: url(../images/webckgrnd.png) center center / cover no-repeat;
background-size: cover;
}
.we__container {
display: flex;
flex-direction: column;
width: 943px;
height: 100%;
margin: 0 auto;
}
.we__title {
    @include title ($green, 72px, 64px, 0);
    padding-top: 127px;
    margin-bottom: 55px;
    align-self: center;
}

.features__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    margin: 0;
    
}
.features__item {

width: 30%;

}
.feat__icon {
    align-self: center;  
    margin-bottom: 24px;
}
.features__list h2 {
    @include subtitle (24px, 500, 28px, $green, 0)
     margin-bottom: 25px;     
    text-align: center;
    letter-spacing: -0.02em;   
}

.features__list p {
    @include text (14px, 300, $green, 24px)
    
    text-align: center;
    margin: 0;
}
